.HeaderMis {
    background-image: url(../Images/TopBGFA.png);
    background-repeat: no-repeat;
    height: 95px;
    
}
a .whiteColor{
    list-style: none !important;
    color: white !important;
}