@font-face {
  font-family: Vazir;
  src: url("../node_modules/vazir-font/dist/Vazir-Light.eot");
  src: url("../node_modules/vazir-font/dist/Vazir-Light.eot")
      format("embedded-opentype"),
    url("../node_modules/vazir-font/dist/Vazir-Light.woff2") format("woff2"),
    url("../node_modules/vazir-font/dist/Vazir-Light.woff") format("woff"),
    url("../node_modules/vazir-font/dist/Vazir-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: VazirDigit;
  src: url("../node_modules/vazir-font/dist/Farsi-Digits/Vazir-Light-FD.eot");
  src: url("../node_modules/vazir-font/dist/Farsi-Digits/Vazir-Light-FD.eot")
      format("embedded-opentype"),
    url("../node_modules/vazir-font/dist/Farsi-Digits/Vazir-Light-FD.woff2")
      format("woff2"),
    url("../node_modules/vazir-font/dist/Farsi-Digits/Vazir-Light-FD.woff")
      format("woff"),
    url("../node_modules/vazir-font/dist/Farsi-Digits/Vazir-Light-FD.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}


body {
  overflow-x: hidden;
  font-family: "VazirDigit", "Vazir" !important;
  font-size: 16px !important;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
